DATABASE_URL="postgresql://postgres:postgres@localhost:5432/expresshub?schema=public"
ALLOWED_ORIGIN="http://localhost:3000"
JWT_ACCESS_SECRET=""
UPSTASH_REDIS_REST_URL=""
UPSTASH_REDIS_REST_TOKEN=""
ADMIN_NAME=""
ADMIN_EMAIL=""
ADMIN_PASSWORD=""
